body {
	background-color: #f7bce8;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.envelope-container {
	text-align: center;
}

.envelope-container img {
	width: 400px;
	height: auto;
	cursor: pointer;
	transition: transform .3s ease;
}

.envelope-container img:hover {
	transform: translateY(-10px);
}
