body {
	background-color: #f7bce8;
	font-family: Arial, sans-serif;
}

.envelope {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.envelope img {
	width: 100%;
	height: auto;
	cursor: pointer;
	transition: transform .3s ease;
}

.envelope img:hover {
	transform: translateY(-10px);
}
